.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.idea
_config.yml
package-lock.json
package.json
scaffolds/
themes/
# don't sync drfts but stash some early posts
source/_drafts/*
!/source/_drafts/daily/
!/source/_drafts/develop/
!/source/_drafts/theory/