<header id="allheader" class="site-header" role="banner">
  <div class="clearfix container">
      <div class="site-branding">
          <nav id="main-navigation" class="main-navigation" role="navigation">
            <a class="nav-open">
                <i class="fa fa-bars fa-2x" aria-hidden="true" ></i>
            </a>
            <a class="nav-close">收起</a>
            <div class="clearfix sf-menu">
              <ul id="main-nav" class="nmenu sf-js-enabled">
                    <% for (var i in theme.menu){ %>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-1663"> <a class="" href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a> </li>
                    <% } %>
              </ul>
            </div>
          </nav>
      </div>
      <div class="site-search">
          <%- partial('../search/index') %>
      </div>
  </div>
</header>
